.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: auto;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
}

.grid-item {
    background-color: rgb(60, 58, 58);
    padding: 2%;
    text-align: center;
    padding-top: 20px;
    border-radius: 10px;
}

.imagen{
    width: 90%;
    transition: transform 0.1s ease-in-out;
}

.imagen:hover{
  transform: scale(1.2);
}

header{
    background-color: transparent;
    padding: 10px 0;
    text-align: center;
}

#header-nav{
    display: inline-flex;
    align-items: center;
}

.nav-item, #nike-img{
    padding: 10px;
}

footer{
    display: grid;
    justify-content: center;
}


#footer-container{
    width:fit-content;
    height: auto;
    display: grid;
}

#links-bar-container{
    display:inline;
    text-align: center;
}

.footer-link{
    padding: 5px;
    padding-bottom: 0;
}

.p-footer{
    padding: 5px;
}