@font-face {
    font-family: 'Merienda';
    src: url(/font/Merienda.ttf);
}

header{
    background-color: transparent;
    text-align: center;
    height: fit-content;
}

#header-nav-container{
    width: 100vw;
    height: 15vh;

}

#header-nav{
    display: inline-flex;
    align-items: center;
}

.nav-item, #nike-img{
    padding: 10px;
    margin: 3px;
}

.nav-item{
    background-color: rgb(189, 189, 189);
    border-radius: 20px;
}

.footer-icon{
    height: 20px;
    width: 20px;
}

footer{
    width: 100vw;
    display: grid;
    justify-content: center;
    height: fit-content;
}

#footer-container{
    display: block;
    justify-content: center;
    text-align: center;
    height: 15vh;
    padding-top: 5vh;
}

#links-container{
    display: inline;
}

.footer-link, .footer-icon{
    padding: 5px;
    background-color: rgb(189, 189, 189);
    border-radius: 20px;
}

#p-copyright{
    margin: 0%;
    margin-top: 2%;
    background-color: rgb(189, 189, 189);
    border-radius: 20px;
}