body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: grid;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: url(/imgs/nikefondo.jpg);
    background-size: cover; /* Hace que la imagen cubra toda la pantalla */
    
}
@font-face{
    font-family: "merienda";
    src: url(/font/Merienda.ttf);
}

.contenedormain{
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    margin-top: 45px;
    font-family: 'merienda';
}


.contenedor {
    display: flex;
    gap: 15px; /* Espacio entre tarjetas */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: auto;
    margin-bottom: 10px;
}

.contenedor1 {
    display: flex;
    gap: 15px; /* Espacio entre tarjetas */
    max-width: 800px; /* Ancho máximo del contenedor */
    margin: auto;
}
.tarjeta {
    background-color: rgb(243, 243, 243);
    width: 200px; /* Ancho fijo */
    height: 390px; /* Altura fija */
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #000000;
    display: flex;/* Convierte la tarjeta en un contenedor flexible */
    flex-direction: column; /* Organiza los elementos en columna (imagen arriba, texto abajo) */
    align-items: center;/* Alinea todos los elementos al centro */
    justify-content: space-between; /* Distribuye los elementos uniformemente */
    overflow: hidden; /* Evita que el contenido sobresalga */

}
.tarjeta img {
    height: 200px; /* Mantiene todas las imágenes con la misma altura */
    object-fit: contain; /* Evita cortes o deformaciones */
    margin-top: auto; /* Empuja la imagen hacia abajo si hay menos texto */
}
