style.
    .menu {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .menu li {
        margin: 10px;
        text-align: center;
    }
    .menu a {
        text-decoration: none;
        color: rgb(0,0,0);
        font-size: 1.4em;
    }
    .menu a:hover {
        text-decoration: underline;
    }