style.
    body {
        font-family: Arial, sans-serif;
        background-color:rgb(255, 162, 162);
        color: rgb(0,0,0);
    }
    h1 {
        color:rgb(0, 0, 0);
    }
    p {
        font-size: 1.2em;
    }
    .mainContainer {
        height:  100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: row;
    }
    .menu li {
        margin: 10px;
        text-align: center;
    }
    .menu a {
        text-decoration: none;
        color: rgb(0,0,0);
        font-size: 1.4em;
    }
    .menu a:hover {
        text-decoration: underline;
    }
    footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: rgb(255, 233, 233);
    }
    footer p {
        margin: 0;
        color:rgb(80, 88, 89);
    }