style.
    .pacienteCard {
        background-color: rgb(255, 233, 233);
        border: 1px solid rgb(0, 0, 0);
        border-radius: 10px;
        padding: 20px;
        margin: 10px;
        width: 300px;
        text-align: center;
    }
    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    input{
        margin: 10px 0;
        padding: 10px;
        width: 80%;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 5px;
    }
    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color:rgb(222, 255, 223);
        color: black;
        border: none;
        border-radius: 5px;
    }