style.
    .tabla {
        width: 100%;
    }
    table {
        width: 100%;
    }
    th, td {
        border: 1px solid rgb(0, 0, 0);
        padding: 8px;
        text-align: center;
    }
    th {
        background-color: rgb(255, 233, 233);
    }
