doctype html
html(lang="es")
    head
        title= title
        meta(charset="utf-8")

    //- Estilos
    include ./styles/base_styles.pug
    include ./styles/login_styles.pug 

    body

    div.mainContainer
        h1= message
        div.formContainer
            form(action=form_action, method="POST")
                | Email: 
                input(type="email", name="email", required)
                br
                | Contraseña: 
                input(type="password", name="password", required)
                br
                button(type="submit").loginButton ¡Iniciar sesion!
                br
        button.volverButton
            a(href="/api/v1/home") Volver al inicio
                 

        footer
            p © #{new Date().getFullYear()} Programacion III